* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
/**:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}*/

/*--------------- 0 - 600 ----------------*/
@media screen and (max-width: 600px) {
  body {
    margin: 2px;
    padding: 2px;
    /*display: block;*/
    background-color: white;
    height: 100%;
  }

.mainContainer {
  height: 100%;
  width: 100%;
  border: 2px solid black;
  }
.sub-container {
  height: 100%;
}
 /*-------------------TOP SECTION----------------------*/
 .container1 {
   background-image: url("../img/google.jpg");
   background-position: right;
   background-size: cover;
   background-position: center;
   height: 30vh;
   margin: 2vw auto;
   overflow: auto;
 }
  /*-------------------MIDDLE SECTION----------------------*/
  .container2 {
    height: 40%;
    width: 100%;
    padding: 1%;
    border: 2px solid green;
  }

  .smImg {
    margin-left: 30px;
    margin-top: 15px;
    height: 125px;
    width: 125px;
    overflow: auto;
  }



    /*------------ side article ----------------*/
.side-article {
  height: 10%;
  width: 100%;
  padding: 1%;
  }
.left {
  float: left
  }
.words {
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 200px;
  }
    /*-------------------BOTTOM SECTION----------------------*/
.container3 {
  background-image: url("../img/google2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  margin: 0;
}



  clearfix:after {
    content: "";
    display: table;
    clear: both;
   }
}
